@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pretendard */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@layer base {
  /* 기본 테마 */
  * {
    @apply tracking-[-0.02em];
  }

  html {
    --color-primary: #396fff;
  }
  html {
  }

  body {
    font-family: "Pretendard";
    @apply w-full h-full text-black bg-white overflow-x-hidden overflow-y-scroll tracking-[-0.02em];
  }

  svg {
    @apply flex-shrink-0;
  }
}

@layer components {
  .layout {
    @apply w-full min-h-screen bg-white relative mx-auto;
  }

  .inner {
    @apply max-w-[1440px] mx-auto;
  }

  #container {
    section {
      @apply py-[60px] px-4 sm:pt-[120px] sm:px-[60px] sm:pb-[80px];

      h2 {
        @apply text-[24px] sm:text-[32px] font-bold leading-[31px] sm:leading-[42px] mb-6 sm:mb-[64px];
      }

      &.section1 {
        dl {
          @apply flex items-center flex-col md:flex-row gap-6 md:gap-[40px] bg-[#F2F4F6] rounded-[20px] p-4 pt-[30px] md:pt-[40px] md:pb-[30px] md:px-[40px];

          dt {
            @apply md:w-[112.5px] text-[20px] md:text-[24px] text-center font-bold leading-[26px] md:leading-[31.2px];
          }

          dd {
            @apply w-full flex-1;

            ul {
              @apply flex gap-3 sm:gap-5;
              li {
                @apply flex-1 flex flex-col md:flex-row gap-1 sm:gap-2 text-[16px] sm:text-[20px] leading-[20.8px] sm:leading-[26px] bg-white rounded-[20px] py-3 sm:py-4 px-4 sm:px-5;

                span {
                  @apply text-[14px] leading-[18px] sm:leading-[26px] sm:text-[20px] font-bold;
                }

                p {
                  @apply leading-[21px] sm:leading-[26px] break-keep;
                }
              }
            }
          }
        }
      }

      &.section2 {
        div.box-wrap {
          @apply flex-1 bg-[#505866] rounded-[20px] p-4 sm:h-[659px] sm:p-[40px] pt-[30px] sm:pt-[60px];

          h3 {
            @apply text-[20px] sm:text-[24px] text-white text-center font-bold leading-[26px] sm:leading-[31.2px] mb-6 sm:mb-[48px] sm:h-[31px];
          }

          dl {
            @apply flex sm:items-center flex-col sm:flex-row gap-2 sm:gap-4;

            dt {
              @apply flex items-center gap-2 sm:gap-4 text-white leading-[21px];

              &:before {
                content: "";
                @apply block w-[4px] h-[4px] rounded-[50%] bg-white;
              }
            }

            dd {
              @apply flex gap-4 justify-end sm:justify-start;

              span {
                @apply font-bold leading-[21px] bg-white rounded-[4px] py-1 px-2 sm:h-[29px];
              }
            }
          }
        }
      }

      &.section3 {
        div.box-wrap {
          @apply flex-1 bg-[#F2F4F6] rounded-[20px] p-4 pt-[30px] sm:p-10 sm:pb-5;

          h3 {
            @apply text-[20px] sm:text-[24px] text-center font-bold leading-[26px] sm:leading-[31.2px] mb-6 sm:mb-10 sm:h-[31px];
          }

          table {
            @apply w-full;
            th {
              @apply text-[12px] sm:text-[16px] text-white leading-[17px] sm:leading-[22px] bg-[#333D4B] border-[1px] border-solid border-black py-[7px] sm:py-[9.5px];
            }
            td {
              @apply text-[12px] sm:text-[16px] leading-[15px] sm:leading-[22px] bg-white  border-[1px] border-solid border-black  py-[5px] sm:py-[9.5px] px-2 sm:px-3 sm:pl-[13px];

              &:last-child {
                @apply text-center text-[#E55353] px-0;

                span {
                  @apply font-bold;
                }
              }
            }
          }

          dl {
            @apply text-[16px] sm:text-[20px] leading-[21px] sm:leading-[26px] bg-white rounded-[20px] py-3 px-4 sm:py-4 sm:pl-[21px] sm:pr-5;

            dt {
              @apply font-bold mb-2;
            }
            dd {
              ul {
                li {
                  @apply flex items-start gap-1.5;

                  &::before {
                    content: "";
                    @apply block w-[4px] h-[4px] rounded-[50%] bg-black mt-2.5 sm:mt-2 flex-shrink-0;
                  }
                }
              }
            }
          }
        }
      }

      &.section4 {
        div.icon-wrap {
          @apply flex-1 text-center py-4 md:pt-[45px] md:pb-[48px];

          img {
            @apply mx-auto mb-4 md:mb-6;
          }

          dl {
            dt {
              @apply text-[16px] md:text-[24px] font-bold leading-[22px] md:leading-[31px] mb-1 md:mb-4;
            }
            dd {
              @apply text-[16px] md:text-[20px] leading-[21px] md:leading-[30px];
            }
          }
        }

        ol {
          counter-reset: type1;
          @apply flex flex-col xl:flex-row justify-between items-center md:gap-5;

          & > li {
            @apply flex-1 w-full md:bg-[rgba(255,255,255,0.1)] md:rounded-[20px] py-4 md:p-5 md:relative border-b-[1px] md:border-0 border-solid border-[rgba(255,255,255,0.4)];

            &:last-child {
              @apply border-b-0;
            }

            &:before {
              counter-increment: type1;
              content: counter(type1);
              @apply flex justify-center items-center w-[24px] md:w-[32px] h-[24px] md:h-[32px] text-[16px] md:text-[20px] text-[#6A5AD5] font-bold leading-[22px] md:leading-[28px] bg-white rounded-[50%] md:absolute mx-auto mb-4 md:mb-auto;
            }

            p {
              @apply text-[16px] md:text-[24px] text-white text-center leading-[22.4px] md:leading-[31.2px] font-bold mb-4 md:h-[62px];
            }

            ul {
              @apply flex flex-col;

              li {
                @apply flex sm:justify-center items-center gap-1 text-white text-center leading-[21px] md:leading-[25.6px] sm:h-[26px];

                &::before {
                  content: "";
                  @apply block w-[4px] h-[4px] rounded-[50%] bg-white;
                }
              }
            }
          }
        }
      }

      &.section5 {
        ul {
          @apply flex flex-col sm:grid sm:grid-cols-3 gap-5;

          & > li {
            @apply bg-[#F2F4F6] rounded-[20px] py-6 sm:py-10 px-4 sm:px-[20px];

            dl {
              dt {
                @apply text-[16px] sm:text-[24px] font-bold leading-[22px] sm:leading-[31px] mb-4 sm:mb-6;
              }

              dd {
                @apply text-[16px] sm:text-[20px] leading-[20.8px] sm:leading-[30px];
              }
            }
          }
        }
      }
    }
  }
}
